body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9800;
    color: black;
}

.result {
    margin-top: 30px;
}
